body {
	background: url("../img/5025272-business-wallpapers.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	font-family: Helvetica Neue,Arial,sans-serif;
  	background-attachment: relative;
  }
